body {
	background-color: #4be1f4;
}

div {
	text-align: center;
	border: white 3px solid;
	border-radius: 10px;
	background-color: white;
	margin-top: 50px;
}

p {
	font-family: courier;
}

td {
	border: 2px solid black;
	font-family: courier;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	color: blue;
}

a:hover {
	color: red;
}
