<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="spectre.min.css">
		<link rel="stylesheet" href="spectre-exp.min.css">
		<link rel="stylesheet" href="spectre-icons.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
